.app-header {
    background-color: #263238;
    height: 70px;
}

.profile-container {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.logo {
    font-size: 18px;
    float: left;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}

.icon {
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle
}


.avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}